<div class="ms-3 me-3">
  <h3 class="text-center mb-5 mt-5">Podesavanje uslude 3</h3>

  <div class="row mb-3 mt-3">
    <div class="col-6">Documenti i smjer</div>
    <div class="col-2">Partner 1</div>
    <div class="col-2"></div>
    <div class="col-2">Partner 2</div>
  </div>


  <form [formGroup]="formAgremment" (ngSubmit)="onSubmit()">
    <div class="form-group mt-3 mb-1">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="0" id="flexCheckOrder" formControlName="order">
              <label class="form-check-label" for="flexCheckOrder">
                Order
              </label>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="btn-group mt-1 mb-1" data-toggle="buttons" role="group">
            <label class="btn btn-light btnRadioLabel me-1" for="inlineOrderRadio1"
              [ngClass]="((this.formAgremment.value).order)?((this.formAgremment.value).orderOptions==1)?'active':'':'disabled'"

              style="border-radius:10px; border:1px solid lightgray;">
              <input type="radio" name="orderOptions" id="inlineOrderRadio1" autocomplete="off" value="1"
                class="btnRadio" formControlName="orderOptions">
              <i class="fa-solid fa-arrow-right"></i>
            </label>
            <label class="btn btn-light btnRadioLabel me-1" for="inlineOrderRadio2"
              [ngClass]="((this.formAgremment.value).order)?((this.formAgremment.value).orderOptions==2)?'active':'':'disabled'"
              style="border-radius:10px; border:1px solid lightgray;">
              <input type="radio" name="orderOptions" id="inlineOrderRadio2" autocomplete="off" value="2"
                class="btnRadio" checked formControlName="orderOptions">
              <i class="fa-solid fa-arrow-right-arrow-left"></i>
            </label>
            <label class="btn btn-light btnRadioLabel" for="inlineOrderRadio3"
              [ngClass]="((this.formAgremment.value).order)?((this.formAgremment.value).orderOptions==3)?'active':'':'disabled'"
              style="border-radius:10px; border:1px solid lightgray;">
              <input type="radio" name="orderOptions" id="inlineOrderRadio3" autocomplete="off" value="3"
                class="btnRadio" formControlName="orderOptions">
              <i class="fa-solid fa-arrow-left"></i>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group mt-3 mb-1">
      <div class="row">
        <div class="col-6">

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="false" id="flexCheckOrderConfirm"
              formControlName="orderConfirm">
            <label class="form-check-label" for="flexCheckOrderConfirm">
              Order Confirmation
            </label>
          </div>
        </div>
        <div class="col-6">
          <div class="btn-group mt-1 mb-1" data-toggle="buttons" role="group">
            <label class="btn btn-light btnRadioLabel me-1" for="inlineorderConfirmRadio1"
              [ngClass]="((this.formAgremment.value).orderConfirm)?((this.formAgremment.value).orderConfirmOptions==1)?'active':'':'disabled'"
              style="border-radius:10px; border:1px solid lightgray;">
              <input type="radio" name="orderConfirmOptions" id="inlineorderConfirmRadio1" autocomplete="off" value="1"
                class="btnRadio" formControlName="orderConfirmOptions">
              <i class="fa-solid fa-arrow-right"></i>
            </label>
            <label class="btn btn-light btnRadioLabel me-1" for="inlineorderConfirmRadio2"
              [ngClass]="((this.formAgremment.value).orderConfirm)?((this.formAgremment.value).orderConfirmOptions==2)?'active':'':'disabled'"
              style="border-radius:10px; border:1px solid lightgray;">
              <input type="radio" name="orderConfirmOptions" id="inlineorderConfirmRadio2" autocomplete="off" value="2"
                class="btnRadio" formControlName="orderConfirmOptions" checked>
              <i class="fa-solid fa-arrow-right-arrow-left"></i>
            </label>
            <label class="btn btn-light btnRadioLabel" for="inlineorderConfirmRadio3"
              [ngClass]="((this.formAgremment.value).orderConfirm)?((this.formAgremment.value).orderConfirmOptions==3)?'active':'':'disabled'"
              style="border-radius:10px; border:1px solid lightgray;">
              <input type="radio" name="orderConfirmOptions" id="inlineorderConfirmRadio3" autocomplete="off" value="3"
                class="btnRadio" formControlName="orderConfirmOptions">
              <i class="fa-solid fa-arrow-left"></i>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group mt-3 mb-1">
      <div class="row">
        <div class="col-6">

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="false" id="flexCheckShipment"
              formControlName="orderShipment">
            <label class="form-check-label" for="flexCheckShipment">
              Shipment
            </label>
          </div>
        </div>
        <div class="col-6">
          <div class="btn-group mt-1 mb-1" data-toggle="buttons" role="group">
            <label class="btn btn-light btnRadioLabel me-1" for="inlineShipmentRadio1"
              [ngClass]="((this.formAgremment.value).orderShipment)?((this.formAgremment.value).shipmentConfirmationOptions==1)?'active':'':'disabled'"
              style="border-radius:10px; border:1px solid lightgray;">
              <input type="radio" name="shipmentConfirmationOptions" id="inlineShipmentRadio1" autocomplete="off"
                value="1" formControlName="shipmentConfirmationOptions" class="btnRadio">
              <i class="fa-solid fa-arrow-right"></i>
            </label>
            <label class="btn btn-light btnRadioLabel me-1" for="inlineShipmentRadio2"
              [ngClass]="((this.formAgremment.value).orderShipment)?((this.formAgremment.value).shipmentConfirmationOptions==2)?'active':'':'disabled'"
              style="border-radius:10px; border:1px solid lightgray;">
              <input type="radio" name="shipmentConfirmationOptions" id="inlineShipmentRadio2" autocomplete="off"
                value="2" formControlName="shipmentConfirmationOptions" class="btnRadio" checked>
              <i class="fa-solid fa-arrow-right-arrow-left"></i>
            </label>
            <label class="btn btn-light btnRadioLabel" for="inlineShipmentRadio3"
              [ngClass]="((this.formAgremment.value).orderShipment)?((this.formAgremment.value).shipmentConfirmationOptions==3)?'active':'':'disabled'"
              style="border-radius:10px; border:1px solid lightgray;">
              <input type="radio" name="shipmentConfirmationOptions" id="inlineShipmentRadio3" autocomplete="off"
                value="3" formControlName="shipmentConfirmationOptions" class="btnRadio">
              <i class="fa-solid fa-arrow-left"></i>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group mt-3 mb-1">
      <div class="row">
        <div class="col-6">

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="false" id="flexCheckReceipt"
              formControlName="orderReceipt">
            <label class="form-check-label" for="flexCheckReceipt">
              Receipt
            </label>
          </div>
        </div>
        <div class="col-6">
          <div class="btn-group mt-1 mb-1" data-toggle="buttons" role="group">
            <label class="btn btn-light btnRadioLabel me-1" for="inlineReceiptRadio1"
              [ngClass]="((this.formAgremment.value).orderReceipt)?((this.formAgremment.value).receiptConfirmationOptions==1)?'active':'':'disabled'"
              style="border-radius:10px; border:1px solid lightgray;">
              <input type="radio" name="receiptConfirmationOptions" id="inlineReceiptRadio1" autocomplete="off"
                value="1" formControlName="receiptConfirmationOptions" class="btnRadio">
              <i class="fa-solid fa-arrow-right"></i>
            </label>
            <label class="btn btn-light btnRadioLabel me-1" for="inlineReceiptRadio2"
              [ngClass]="((this.formAgremment.value).orderReceipt)?((this.formAgremment.value).receiptConfirmationOptions==2)?'active':'':'disabled'"
              style="border-radius:10px; border:1px solid lightgray;">
              <input type="radio" name="receiptConfirmationOptions" id="inlineReceiptRadio2" autocomplete="off"
                value="2" formControlName="receiptConfirmationOptions" class="btnRadio" checked>
              <i class="fa-solid fa-arrow-right-arrow-left"></i>
            </label>
            <label class="btn btn-light btnRadioLabel" for="inlineReceiptRadio3"
              [ngClass]="((this.formAgremment.value).orderReceipt)?((this.formAgremment.value).receiptConfirmationOptions==3)?'active':'':'disabled'"
              style="border-radius:10px; border:1px solid lightgray">
              <input type="radio" name="receiptConfirmationOptions" id="inlineReceiptRadio3" autocomplete="off"
                value="3" formControlName="receiptConfirmationOptions" class="btnRadio">
              <i class="fa-solid fa-arrow-left"></i>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group mt-3 mb-1">
      <div class="row">
        <div class="col-6">

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="false" id="flexCheckInvoice"
              formControlName="orderInvoice">
            <label class="form-check-label" for="flexCheckInvoice">
              Invoice
            </label>
          </div>
        </div>
        <div class="col-6">
          <div class="btn-group mt-1 mb-1" data-toggle="buttons" role="group">
            <label class="btn btn-light btnRadioLabel me-1" for="inlineInvoiceRadio1"
              [ngClass]="((this.formAgremment.value).orderInvoice)?((this.formAgremment.value).invoiceConfirmationOptions==1)?'active':'':'disabled'"
              style="border-radius:10px; border:1px solid lightgray;">
              <input type="radio" name="invoiceConfirmationOptions" id="inlineInvoiceRadio1" autocomplete="off"
                value="1" formControlName="invoiceConfirmationOptions" class="btnRadio">
              <i class="fa-solid fa-arrow-right"></i>
            </label>
            <label class="btn btn-light btnRadioLabel me-1" for="inlineInvoiceRadio2"
              [ngClass]="((this.formAgremment.value).orderInvoice)?((this.formAgremment.value).invoiceConfirmationOptions==2)?'active':'':'disabled'"
              style="border-radius:10px; border:1px solid lightgray;">
              <input type="radio" name="invoiceConfirmationOptions" id="inlineInvoiceRadio2" autocomplete="off"
                value="2" formControlName="invoiceConfirmationOptions" class="btnRadio" checked>
              <i class="fa-solid fa-arrow-right-arrow-left"></i>
            </label>
            <label class="btn btn-light btnRadioLabel" for="inlineInvoiceRadio3"
              [ngClass]="((this.formAgremment.value).orderInvoice)?((this.formAgremment.value).invoiceConfirmationOptions==3)?'active':'':'disabled'"
              style="border-radius:10px; border:1px solid lightgray;">
              <input type="radio" name="invoiceConfirmationOptions" id="inlineInvoiceRadio3" autocomplete="off"
                value="3" formControlName="invoiceConfirmationOptions" class="btnRadio">
              <i class="fa-solid fa-arrow-left"></i>
            </label>
          </div>
        </div>
      </div>
    </div>

    <!-- <app-agremment-document-direction-pointer 
    formControlRadioName="invoiceConfirmationOptions" 
    formAgremmentValue={{this.formAgremment.value.invoiceConfirmationOptions}}
    formAgremmentActive={{this.formAgremment.value.orderInvoice}}
    formControlCheckBoxName="orderInvoice"
    operationName="Invoice"
    ></app-agremment-document-direction-pointer> -->

    <div class="text-center mt-5">
      <div class="row justify-content-center mt-4">
        <div class="col">
          <button type="button" class="btn btn-danger float-start" style="width: 110px;" (click)="redirectBack()">
            <i class="fa-solid fa-angle-left"></i>
            {{"button-back"|translate}}</button>

        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary float-end" style="width: 110px;" (click)="redirect()">
            {{"button-next"|translate}}
            <i class="fa-solid fa-angle-right"></i>
          </button>
        </div>
      </div>
    </div>




  </form>
</div>
