<div class="ms-3 me-3">
  <div class="text-center mb-5">
    <h3>Dodatni podatci tenat accaunt za organizaciju</h3>
  </div>
  <form [formGroup]="organizationForm">

    <div class="form-group mt-4 mb-1">
      <input type="text" class="form-control" placeholder="Organization" >
    </div>
    <div class="form-group  mt-4 mb-1">
      <input type="text" class="form-control" placeholder="Porezni broj [HR12345678901]" >
    </div>
    <div class="form-group  mt-4 mb-1">
      <input type="text" class="form-control" placeholder="Adresa">
    </div>
    <div class="form-group  mt-4 mb-1">
      <input type="text" class="form-control" placeholder="Drzava">
    </div>
    <div class="form-group  mt-4 mb-1">
      <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email" >
    </div>
    <div class="form-group  mt-4 mb-1">
      <input type="file" class="form-control" value="file">
    </div>

    <div class="form-group mt-4 mb-1">
      <div class="row">
        <div class="col-3">
          <label class="form-check-label" for="inlineRadio1">Doc type</label>
        </div>
        <div class="col-4">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="docType" id="inlineDocRadio1" value="option1" formControlName="docType">
            <label class="form-check-label" for="inlineDocRadio1">UBL 2.1</label>
          </div>
        </div>
        <div class="col-4">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="docType" id="inlineDocRadio2" value="option2" formControlName="docType">
            <label class="form-check-label" for="inlineDocRadio2">Edifact</label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-3">
          <label class="form-check-label" for="inlineRadio1">Acc point</label>
        </div>
        <div class="col-4">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="accPoint" id="inlineAccRadio1" value="option1" formControlName="accPoint">
            <label class="form-check-label" for="inlineAccRadio1">Omnizon</label>
          </div>
        </div>
        <div class="col-4">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="accPoint" id="inlineAccRadio2" value="option2" formControlName="accPoint">
            <label class="form-check-label" for="inlineAccRadio2">Own</label>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group" *ngIf="organizationForm.value.accPoint=='option2'">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-6"><input type="text" class="form-control" placeholder="sftp" style="width:100%;"></div>
      </div>
    </div>

    <div class="text-center">
      <div class="row justify-content-center mt-4">
        <div class="col">
          <button type="button" class="btn btn-danger float-start" style="width: 110px;" (click)="redirectBack()">
            <i class="fa-solid fa-angle-left"></i>
            {{"button-back"|translate}}</button>

        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary float-end" style="width: 110px;" (click)="redirect()">
            {{"button-next"|translate}}
            <i class="fa-solid fa-angle-right"></i>
          </button>
        </div>
      </div>
    </div>
  </form>

</div>
