<div class="justify-center text-center">
  <h4 class="text-center">Potvrdi svu konfiguraciju</h4>

  <hr>
  <div>
    <p>Tenant accaunt</p>
    Organizcija:nan<br>
    Porezni broj:nan<br>
    Adresa:nan<br>
    Drzava:nan<br>
    Email: nan@mail.com<br>
  </div>
  <hr>
  <div>
    <p>Podesavanje 1</p>
    Organizcija:nan<br>
    Porezni broj:nan<br>
    Adresa:nan<br>
    Drzava:nan<br>
    Email: nan@mail.com<br>
  </div>
  <hr>

  <div>
    <p>Podesavanje 2</p>
    Organizcija:nan<br>
    Porezni broj:nan<br>
    Adresa:nan<br>
    Drzava:nan<br>
    Email: nan@mail.com<br>
  </div>
  <hr>
  <div>
    <p>Podesavanje 3</p>
    <i class="fa-solid fa-check me-2"></i>Order: 1<br>
    <i class="fa-solid fa-x me-2"></i>Order Confirmation: 2<br>
    <i class="fa-solid fa-check me-2"></i>Shipment: 1<br>
    <i class="fa-solid fa-check me-2"></i>Receipt: 3<br>
    <i class="fa-solid fa-x me-2"></i>Invoice: 1<br>
  </div>
  <hr>

  <div class="text-center">
    <div class="row justify-content-center mt-4">
      <div class="col m-1">
        <button type="button" class="btn btn-danger" style="width: 110px;" (click)="redirectBack()">
          <i class="fa-solid fa-angle-left"></i>
          {{"button-back"|translate}}</button>

      </div>
      <div class="col  m-1">
        <button type="submit" class="btn btn-success" style="width: 110px;" (click)="redirect()">
          {{"button-finish"|translate}}
        </button>
      </div>
    </div>
  </div>
</div>
