<div class="form-group mt-3 mb-1">
  <div class="row">
    <div class="col-6">

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="false" id="flexCheckInvoice"
          formControlName={{formControlCheckBoxName}}>
        <label class="form-check-label" for="flexCheckInvoice">
          {{operationName}}
        </label>
      </div>
    </div>
    <div class="col-6">
      <div class="btn-group border mt-1 mb-1" data-toggle="buttons" role="group">
        <label class="btn btn-light btnRadioLabel" for="inlineInvoiceRadio1"
          [ngClass]="(checkAgrAct()&&checkAgrVal(1))?'active':''">
          <input type="radio" name="invoiceConfirmationOptions" id="inlineInvoiceRadio1" autocomplete="off" value="1"
            formControlName={{formControlRadioName}} class="btnRadio">
          <i class="fa-solid fa-arrow-right"></i>
        </label>
        <label class="btn btn-light btnRadioLabel" for="inlineInvoiceRadio2"
          [ngClass]="(checkAgrAct()&&checkAgrVal(2))?'active':''">
          <input type="radio" name="invoiceConfirmationOptions" id="inlineInvoiceRadio2" autocomplete="off" value="2"
            formControlName={{formControlRadioName}} class="btnRadio" checked>
          <i class="fa-solid fa-arrow-right-arrow-left"></i>
        </label>
        <label class="btn btn-light btnRadioLabel" for="inlineInvoiceRadio3"
          [ngClass]="(checkAgrAct()&&checkAgrVal(3))?'active':''">
          <input type="radio" name="invoiceConfirmationOptions" id="inlineInvoiceRadio3" autocomplete="off" value="3"
            formControlName="{{formControlRadioName}}" class="btnRadio">
          <i class="fa-solid fa-arrow-left"></i>
        </label>
      </div>
    </div>
  </div>
</div>
