.btnRadio {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
  .btnRadioLabel{
      width: 100%;
  }
  .btn-group{
      width: 100%;
  }
   .active{
       background-color: rgb(181, 181, 181);
       color: rgb(246, 246, 246);
   }
   .disabled{
       background-color: white(79, 79, 79, 0.628);
       color: rgb(215, 213, 213);
   }